body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.capitalized-header{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: .2rem;
}

#flight-search-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#flight-page-members{
  display: flex;
  justify-content: space-around;
}

.flight-page-member-icon{
  padding: .5rem 1rem;
  margin-left: .5rem;
  border: 1px solid black;
  border-radius: 100px;
  position: relative;
  display: inline-block;
}

.bold{
  font-weight: bold;
}

.green{
  color: green
}

.red{
  color: red
}

.flight-page-member-icon .member-info-text{
  visibility: hidden;
  width: 160px;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -80px;
  border: 1px solid black;
  padding-left: 8px;
}

.flight-page-member-icon .member-info-text:after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.flight-page-member-icon:hover .member-info-text{
  visibility: visible;
}

.possible-city-container{
  display: flex;
  justify-content: space-between;
  width: 70%;
  border: 1px solid lightgray;
  margin: auto;
  overflow: hidden;
  height: 200px;
  margin-bottom: 1rem;
}

.possible-city-image{
  width: 400px;
  position: relative;
  transform: translate(0, -200px);
}

.possible-city-code{
  position: relative;
  transform: translate(0, -525px);
  color: white;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: .8rem;
  font-family: 'Montserrat', sans-serif;
}

.possible-city-info{
  width: 85%;
}

.flex{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 85%;
}

.center-vertically{
  align-self: center;
}

.flight-options{
  width: 85%;
  margin: auto;
}
