body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.capitalized-header{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: .2rem;
}

#flight-search-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#flight-page-members{
  display: flex;
  justify-content: space-around;
}

.flight-page-member-icon{
  padding: .5rem 1rem;
  margin-left: .5rem;
  border: 1px solid black;
  border-radius: 100px;
}

.possible-city-container{
  display: flex;
  justify-content: space-between;
  width: 70%;
  border: 1px solid lightgray;
  margin: auto;
  overflow: hidden;
  height: 200px;
  margin-bottom: 1rem;
}

.possible-city-image{
  width: 400px;
  position: relative;
  transform: translate(0, -200px);
}

.possible-city-code{
  position: relative;
  transform: translate(0, -525px);
  color: white;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: .8rem;
  font-family: 'Montserrat', sans-serif;
}

.possible-city-info{
  width: 100%;
}

.flex{
  display: flex;
  justify-content: space-around;
  padding-right: 1rem;
}

.center-vertically{
  align-self: center;
}
